<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <title>迷鹿</title>
  <link rel="stylesheet" href="../css/初始化样式/normalize.css" />
  <link rel="stylesheet" href="../css/初始化样式/body.css">
  <link rel="stylesheet" href="../css/Loading/loading.css">
</head>

<body>
  <div class="cell">
    <div class="card">
      <span class="three-quarters-loader">Loading&#8230;</span>
    </div>
  </div>
</body>

</html>