<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <title>迷鹿</title>
  <link rel="stylesheet" href="../css/初始化样式/normalize.css" />
  <link rel="stylesheet" href="../css/初始化样式/body.css">
  <link rel="stylesheet" href="../css/全局提醒/全局提醒.css">
</head>

<body>
  <!-- normally this stuff would be on the html element -->
  <!--[if lt IE 7]>  <div class="ie ie6 lte9 lte8 lte7"> <![endif]-->
  <!--[if IE 7]>     <div class="ie ie7 lte9 lte8 lte7"> <![endif]-->
  <!--[if IE 8]>     <div class="ie ie8 lte9 lte8"> <![endif]-->
  <!--[if IE 9]>     <div class="ie ie9 lte9"> <![endif]-->
  <!--[if gt IE 9]>  <div> <![endif]-->
  <!--[if !IE]><!-->
  <div>
    <!--<![endif]-->
    <div class="tooltip">
      <span>I am a tooltip!</span>
      <span>×</span>
    </div>
  </div>

</body>

</html>