<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <title>迷鹿</title>
  <link rel="stylesheet" href="../css/初始化样式/normalize.css" />
  <link rel="stylesheet" href="../css/初始化样式/body.css">
  <link rel="stylesheet" href="../css/布局/layout.css">
  <link rel="stylesheet" href="../css/发表图片/upload-picture.css" />
  <script src="../font/iconfont.js"></script>

<body>

  <div class="page upload-picture-page">
    <div class="header upload-picture_header"></div>
    <div class="sidebar upload-picture_sidebar">
      <div class="sidebar_toolbar">
        <div class="sidebar_toolbar_item sidebar_toolbar_item_circle-32">
          <a href="../views/首页.html"><img src="../image/mil.jpg" alt="迷鹿" /></a>
        </div>
        <div class="sidebar_toolbar_item sidebar_toolbar_item_circle-32">
          <svg class="icon icon-size-fill" aria-hidden="true">
            <use xlink:href="#icon-tubiaolunkuo-"></use>
          </svg>
        </div>
        <div class="sidebar_toolbar_item sidebar_toolbar_item_circle-32">
          <a href="#"><img src="../image/avatar.gif" alt="用户头像" /></a>
        </div>
      </div>
    </div>
    <div class="main upload-picture_main">
      <form action="">
        <div class="content">
          <input type="text" placeholder="标题">
          <input type="text" placeholder="描述">
          <input type="text" placeholder="标签">
        </div>
        <div class="picture">
          <div class="picture-style">
            <input class="picture-style_file" type="file" id="file" accept="image/gif,image/jpeg,image/x-png">
            <label for="file">
              <svg class="icon icon-size-fill" aria-hidden="true">
                <use xlink:href="#icon-tubiaolunkuo-"></use>
              </svg>
            </label>
          </div>
        </div>
        <div class="publish">
          <a href="#" class="form-btn">
            发布
          </a>
        </div>
      </form>
    </div>

</body>

</html>