<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <title>迷鹿-登录</title>
  <link rel="stylesheet" href="../css/初始化样式/normalize.css" />
  <link rel="stylesheet" href="../css/初始化样式/body.css">
  <link rel="stylesheet" href="../css/登录注册/login.css">

</head>

<body>
  <section>
    <div class="box">
      <!-- 登录框 -->
      <div class="container">
        <div class="form">
          <h2>登录</h2>
          <form>
            <div class="inputBox">
              <input type="text" placeholder="姓名">

            </div>
            <div class="inputBox">
              <input type="password" placeholder="密码">

            </div>
            <div class="inputBox">
              <input type="submit" value="登录">

            </div>
            <p class="forget">忘记密码?<a href="#">
                点击这里
              </a></p>
            <p class="forget">没有账户?<a href="#">
                注册
              </a></p>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>

</html>