<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <title>迷鹿</title>
  <link rel="stylesheet" href="../css/初始化样式/normalize.css" />
  <link rel="stylesheet" href="../css/初始化样式/body.css">
  <link rel="stylesheet" href="../css/布局/layout.css">
  <link rel="stylesheet" href="../css/首页/header.css" />
  <link rel="stylesheet" href="../css/首页/dropDownList.css">
  <link rel="stylesheet" href="../css/首页/sidebar.css" />
  <link rel="stylesheet" href="../css/首页/home-page-main-reconsitution.css" />
  <link rel="stylesheet" href="../css/首页/home-page-reconsitution.css" />
  <link rel="stylesheet" href="../css/初始化样式/footer.css">
  <script src="../font/iconfont.js"></script>
</head>

<body>
  <div class="home-page">
    <!-- 顶部导航 -->
    <div class="header">
      <div class="searchBox">
        <input type="text">
      </div>
      <div class="header_toolbar">
        <!-- 登陆前样式 -->
        <!-- <div class="header_loginRegister_item">
					<a href="./登录.html">登陆</a>
				</div>
				<div class="header_loginRegister_item">
					<a href="./注册.html">注册</a>
				</div> -->
        <!-- 登陆后样式 -->
        <div class="header_toolbar_item header_toolbar_item_size-24">
          <div class="dropdown">
            <a href="#" class="dropbtn">
              <svg class="icon icon-size-fill" aria-hidden="true">
                <use xlink:href="#icon-zuocelan"></use>
              </svg>
            </a>
            <div class="dropdown-content">
              <a href="#">个人主页</a>
              <a href="#">发表作品</a>
              <a href="#">退出登录</a>
            </div>
          </div>
        </div>
        <div class="header_toolbar_item header_toolbar_item_size-24">
          <a href="#">
            <svg class="icon icon-size-fill" aria-hidden="true">
              <use xlink:href="#icon-celanliebiaogengduo"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <!-- 边栏 -->
    <div class="sidebar">
      <div class="sidebar_toolbar">
        <div class="sidebar_toolbar_item sidebar_toolbar_item_circle-32">
          <a href="#"><img src="../image/mil.jpg" alt="迷鹿" /></a>
        </div>
        <div class="sidebar_toolbar_item sidebar_toolbar_item_circle-32">
          <a href="#"><img src="../image/avatar.gif" alt="用户头像" /></a>
        </div>
        <div class="sidebar_toolbar_item sidebar_toolbar_item_square-32">
          <a href="./发表图片.html">
            <svg class="icon icon-size-fill" aria-hidden="true">
              <use xlink:href="#icon-tubiaolunkuo-"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <!-- 主体 -->
    <div class="home-page_main">
      <div class="main_center">
        <div class="home-page_main_cards">
          <div class="cardColumn">
            <div class="home-page_main_cards_item">
              <div class="max767-top">
                <div class="max767-top-content">
                  <div class="card-abstract-avatar">
                    <img class="card-avatar-32" src="../image/avatar.gif" alt="作者头像" />
                  </div>
                  <div class="card-abstract-author">
                    <span>Mailchimp</span>
                    <span>Smarts to Help You Grow ↗</span>
                  </div>
                </div>
              </div>
              <img src="../image/content2.jpeg" alt="" />
              <div class="max767-bottom">
                <div class="max767-bottom-left">
                  <button class="card-button-max767">
                    <svg class="icon " aria-hidden="true">
                      <use xlink:href="#icon-xihuan"></use>
                    </svg>
                    <span>32</span>
                  </button>
                  <button class="card-button-max767">
                    <svg class="icon" aria-hidden="true">
                      <use xlink:href="#icon-pinglun"></use>
                    </svg>
                    <span>32</span>
                  </button>
                </div>
                <div class="max767-bottom-right">
                  <button class="card-button-max767">
                    Download
                  </button>
                </div>
              </div>
            </div>
            <div class="home-page_main_cards_item">
              <div class="max767-top">
                <div class="max767-top-content">
                  <div class="card-abstract-avatar">
                    <img class="card-avatar-32" src="../image/avatar.gif" alt="作者头像" />
                  </div>
                  <div class="card-abstract-author">
                    <span>Mailchimp</span>
                    <span>Smarts to Help You Grow ↗</span>
                  </div>
                </div>
              </div>
              <img src="../image/content1.jpeg" alt="" />
              <div class="max767-bottom">
                <div class="max767-bottom-left">
                  <button class="card-button-max767">
                    <svg class="icon " aria-hidden="true">
                      <use xlink:href="#icon-xihuan"></use>
                    </svg>
                    <span>32</span>
                  </button>
                  <button class="card-button-max767">
                    <svg class="icon" aria-hidden="true">
                      <use xlink:href="#icon-pinglun"></use>
                    </svg>
                    <span>32</span>
                  </button>
                </div>
                <div class="max767-bottom-right">
                  <button class="card-button-max767">
                    Download
                  </button>
                </div>
              </div>
            </div>
            <div class="home-page_main_cards_item">
              <div class="max767-top">
                <div class="max767-top-content">
                  <div class="card-abstract-avatar">
                    <img class="card-avatar-32" src="../image/avatar.gif" alt="作者头像" />
                  </div>
                  <div class="card-abstract-author">
                    <span>Mailchimp</span>
                    <span>Smarts to Help You Grow ↗</span>
                  </div>
                </div>
              </div>
              <img src="../image/content2.jpeg" alt="" />
              <div class="max767-bottom">
                <div class="max767-bottom-left">
                  <button class="card-button-max767">
                    <svg class="icon " aria-hidden="true">
                      <use xlink:href="#icon-xihuan"></use>
                    </svg>
                    <span>32</span>
                  </button>
                  <button class="card-button-max767">
                    <svg class="icon" aria-hidden="true">
                      <use xlink:href="#icon-pinglun"></use>
                    </svg>
                    <span>32</span>
                  </button>
                </div>
                <div class="max767-bottom-right">
                  <button class="card-button-max767">
                    Download
                  </button>
                </div>
              </div>
            </div>
            <div class="home-page_main_cards_item">
              <div class="max767-top">
                <div class="max767-top-content">
                  <div class="card-abstract-avatar">
                    <img class="card-avatar-32" src="../image/avatar.gif" alt="作者头像" />
                  </div>
                  <div class="card-abstract-author">
                    <span>Mailchimp</span>
                    <span>Smarts to Help You Grow ↗</span>
                  </div>
                </div>
              </div>
              <img src="../image/content2.jpeg" alt="" />
              <div class="max767-bottom">
                <div class="max767-bottom-left">
                  <button class="card-button-max767">
                    <svg class="icon " aria-hidden="true">
                      <use xlink:href="#icon-xihuan"></use>
                    </svg>
                    <span>32</span>
                  </button>
                  <button class="card-button-max767">
                    <svg class="icon" aria-hidden="true">
                      <use xlink:href="#icon-pinglun"></use>
                    </svg>
                    <span>32</span>
                  </button>
                </div>
                <div class="max767-bottom-right">
                  <button class="card-button-max767">
                    Download
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <a href="http://lostelk.cn" rel="nofollow">© 迷鹿</a>
    <a href="http://beian.miit.gov.cn/" rel="nofollow">黑ICP备2020005791号</a>
  </footer>
</body>

</html>