<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <title>迷鹿</title>
  <link rel="stylesheet" href="../css/初始化样式/normalize.css" />
  <link rel="stylesheet" href="../css/初始化样式/body.css">
  <link rel="stylesheet" href="../css/布局/layout.css">
  <link rel="stylesheet" href="../css/首页/header.css" />
  <link rel="stylesheet" href="../css/首页/dropDownList.css">
  <link rel="stylesheet" href="../css/首页/sidebar.css" />
  <link rel="stylesheet" href="../css/首页/home-page-main-reconsitution.css" />
  <link rel="stylesheet" href="../css/首页/home-page-reconsitution.css" />
  <link rel="stylesheet" href="../css/初始化样式/footer.css">
  <link rel="stylesheet" href="../css/首页/search.css">
  <script src="../font/iconfont.js"></script>
</head>

<body>
  <div class="home-page">
    <!-- 顶部导航 -->
    <div class="header">
      <form class="header-search-box">
        <label class="header-search-button" for="header-search">
          <svg class="icon icon-size-fill search-button-20" aria-hidden="true">
            <use xlink:href="#icon-sousuo"></use>
          </svg>
        </label>
        <input type="text" id="header-search" placeholder="search photos">
      </form>
      <div class="header_toolbar">
        <!-- 登陆前样式 -->
        <!-- <div class="header_loginRegister_item">
					<a href="./登录.html">登陆</a>
				</div>
				<div class="header_loginRegister_item">
					<a href="./注册.html">注册</a>
				</div> -->
        <!-- 登陆后样式 -->
        <div class="header_toolbar_item header_toolbar_item_size-24">
          <svg class="icon icon-size-fill search-button-24" aria-hidden="true">
            <use xlink:href="#icon-sousuo"></use>
          </svg>
        </div>
        <div class="header_toolbar_item header_toolbar_item_size-24">
          <div class="dropdown">
            <a href="#" class="dropbtn">
              <svg class="icon icon-size-fill" aria-hidden="true">
                <use xlink:href="#icon-zuocelan"></use>
              </svg>
            </a>
            <div class="dropdown-content">
              <a href="#">个人主页</a>
              <a href="#">发表作品</a>
              <a href="#">退出登录</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 边栏 -->
    <div class="sidebar">
      <div class="sidebar_toolbar">
        <div class="sidebar_toolbar_item sidebar_toolbar_item_circle-32">
          <a href="#"><img src="../image/mil.jpg" alt="迷鹿" /></a>
        </div>
        <div class="sidebar_toolbar_item sidebar_toolbar_item_circle-32">
          <a href="#"><img src="../image/avatar.gif" alt="用户头像" /></a>
        </div>
        <div class="sidebar_toolbar_item sidebar_toolbar_item_square-32">
          <a href="./发表图片.html">
            <svg class="icon icon-size-fill" aria-hidden="true">
              <use xlink:href="#icon-tubiaolunkuo-"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <!-- 主体 -->
    <div class="home-page_main">
      <div class="main-search">
        <img src="../image/bg1.jpeg" alt="">
        <div class="main-search-superstratum">
          <div class="search-superstratum-center">
            <div class="search-superstratum-content">
              <span>LostElk</span>
              <div>
                <h1>The internet’s source of freely-usable images.</h1>
                <p>Powered by creators everywhere.</p>
              </div>
              <form class="main-search-box">
                <label class="main-search-button" for="main-search">
                  <svg class="icon icon-size-fill search-button-32" aria-hidden="true">
                    <use xlink:href="#icon-sousuo"></use>
                  </svg>
                </label>
                <input type="text" id="main-search" placeholder="search photos">
              </form>
            </div>
          </div>
          <div class="search-buttom">
            <span>This photo is from user <a href="#">麋鹿</a></span>
            <span>LostElk</span>
            <span>Start your website with LostElk today.</span>
          </div>
        </div>
      </div>
      <div class="main_center">
        <div class="home-page_main_cards">
          <div class="cardColumn">
            <div class="home-page_main_cards_item">
              <img src="../image/content2.jpeg" alt="" />
              <div class="card-baffle-plate">
                <div class="card-baffle-plate-top">
                  <div class="pinglun-xihuan">
                    <button class="card-button">
                      <svg class="icon " aria-hidden="true">
                        <use xlink:href="#icon-xihuan"></use>
                      </svg>
                      <span>32</span>
                    </button>
                    <button class="card-button">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-pinglun"></use>
                      </svg>
                      <span>32</span>
                    </button>
                  </div>
                </div>
                <div class="card-baffle-plate-bottom">
                  <div class="zuozhe">
                    <img class="card-avatar-32" src="../image/avatar.gif" alt="作者头像" />
                    <div class="card-baffle-plate-author">
                      <span>关山月</span>
                      <span>李白</span>
                    </div>
                  </div>
                  <div class="xiazai">
                    <button class="card-button">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xihuan"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="home-page_main_cards_item">
              <img src="../image/content1.jpeg" alt="" />
              <div class="card-baffle-plate">
                <div class="card-baffle-plate-top">
                  <div class="pinglun-xihuan">
                    <button class="card-button">
                      <svg class="icon " aria-hidden="true">
                        <use xlink:href="#icon-xihuan"></use>
                      </svg>
                      <span>32</span>
                    </button>
                    <button class="card-button">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-pinglun"></use>
                      </svg>
                      <span>32</span>
                    </button>
                  </div>
                </div>
                <div class="card-baffle-plate-bottom">
                  <div class="zuozhe">
                    <img class="card-avatar-32" src="../image/avatar.gif" alt="作者头像" />
                    <div class="card-baffle-plate-author">
                      <span>关山月</span>
                      <span>李白</span>
                    </div>
                  </div>
                  <div class="xiazai">
                    <button class="card-button">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xihuan"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="home-page_main_cards_item">
              <img src="../image/content2.jpeg" alt="" />
              <div class="card-baffle-plate">
                <div class="card-baffle-plate-top">
                  <div class="pinglun-xihuan">
                    <button class="card-button">
                      <svg class="icon " aria-hidden="true">
                        <use xlink:href="#icon-xihuan"></use>
                      </svg>
                      <span>32</span>
                    </button>
                    <button class="card-button">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-pinglun"></use>
                      </svg>
                      <span>32</span>
                    </button>
                  </div>
                </div>
                <div class="card-baffle-plate-bottom">
                  <div class="zuozhe">
                    <img class="card-avatar-32" src="../image/avatar.gif" alt="作者头像" />
                    <div class="card-baffle-plate-author">
                      <span>关山月</span>
                      <span>李白</span>
                    </div>
                  </div>
                  <div class="xiazai">
                    <button class="card-button">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xihuan"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="home-page_main_cards_item">
              <img src="../image/content2.jpeg" alt="" />
              <div class="card-baffle-plate">
                <div class="card-baffle-plate-top">
                  <div class="pinglun-xihuan">
                    <button class="card-button">
                      <svg class="icon " aria-hidden="true">
                        <use xlink:href="#icon-xihuan"></use>
                      </svg>
                      <span>32</span>
                    </button>
                    <button class="card-button">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-pinglun"></use>
                      </svg>
                      <span>32</span>
                    </button>
                  </div>
                </div>
                <div class="card-baffle-plate-bottom">
                  <div class="zuozhe">
                    <img class="card-avatar-32" src="../image/avatar.gif" alt="作者头像" />
                    <div class="card-baffle-plate-author">
                      <span>关山月</span>
                      <span>李白</span>
                    </div>
                  </div>
                  <div class="xiazai">
                    <button class="card-button">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xihuan"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cardColumn">
            <div class="home-page_main_cards_item">
              <img src="../image/content2.jpeg" alt="" />
              <div class="card-baffle-plate">
                <div class="card-baffle-plate-top">
                  <div class="pinglun-xihuan">
                    <button class="card-button">
                      <svg class="icon " aria-hidden="true">
                        <use xlink:href="#icon-xihuan"></use>
                      </svg>
                      <span>32</span>
                    </button>
                    <button class="card-button">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-pinglun"></use>
                      </svg>
                      <span>32</span>
                    </button>
                  </div>
                </div>
                <div class="card-baffle-plate-bottom">
                  <div class="zuozhe">
                    <img class="card-avatar-32" src="../image/avatar.gif" alt="作者头像" />
                    <div class="card-baffle-plate-author">
                      <span>关山月</span>
                      <span>李白</span>
                    </div>
                  </div>
                  <div class="xiazai">
                    <button class="card-button">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xihuan"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="home-page_main_cards_item">
              <img src="../image/content1.jpeg" alt="" />
              <div class="card-baffle-plate">
                <div class="card-baffle-plate-top">
                  <div class="pinglun-xihuan">
                    <button class="card-button">
                      <svg class="icon " aria-hidden="true">
                        <use xlink:href="#icon-xihuan"></use>
                      </svg>
                      <span>32</span>
                    </button>
                    <button class="card-button">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-pinglun"></use>
                      </svg>
                      <span>32</span>
                    </button>
                  </div>
                </div>
                <div class="card-baffle-plate-bottom">
                  <div class="zuozhe">
                    <img class="card-avatar-32" src="../image/avatar.gif" alt="作者头像" />
                    <div class="card-baffle-plate-author">
                      <span>关山月</span>
                      <span>李白</span>
                    </div>
                  </div>
                  <div class="xiazai">
                    <button class="card-button">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xihuan"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="home-page_main_cards_item">
              <img src="../image/content2.jpeg" alt="" />
              <div class="card-baffle-plate">
                <div class="card-baffle-plate-top">
                  <div class="pinglun-xihuan">
                    <button class="card-button">
                      <svg class="icon " aria-hidden="true">
                        <use xlink:href="#icon-xihuan"></use>
                      </svg>
                      <span>32</span>
                    </button>
                    <button class="card-button">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-pinglun"></use>
                      </svg>
                      <span>32</span>
                    </button>
                  </div>
                </div>
                <div class="card-baffle-plate-bottom">
                  <div class="zuozhe">
                    <img class="card-avatar-32" src="../image/avatar.gif" alt="作者头像" />
                    <div class="card-baffle-plate-author">
                      <span>关山月</span>
                      <span>李白</span>
                    </div>
                  </div>
                  <div class="xiazai">
                    <button class="card-button">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xihuan"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="home-page_main_cards_item">
              <img src="../image/content2.jpeg" alt="" />
              <div class="card-baffle-plate">
                <div class="card-baffle-plate-top">
                  <div class="pinglun-xihuan">
                    <button class="card-button">
                      <svg class="icon " aria-hidden="true">
                        <use xlink:href="#icon-xihuan"></use>
                      </svg>
                      <span>32</span>
                    </button>
                    <button class="card-button">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-pinglun"></use>
                      </svg>
                      <span>32</span>
                    </button>
                  </div>
                </div>
                <div class="card-baffle-plate-bottom">
                  <div class="zuozhe">
                    <img class="card-avatar-32" src="../image/avatar.gif" alt="作者头像" />
                    <div class="card-baffle-plate-author">
                      <span>关山月</span>
                      <span>李白</span>
                    </div>
                  </div>
                  <div class="xiazai">
                    <button class="card-button">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xihuan"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cardColumn">
            <div class="home-page_main_cards_item">
              <img src="../image/content2.jpeg" alt="" />
              <div class="card-baffle-plate">
                <div class="card-baffle-plate-top">
                  <div class="pinglun-xihuan">
                    <button class="card-button">
                      <svg class="icon " aria-hidden="true">
                        <use xlink:href="#icon-xihuan"></use>
                      </svg>
                      <span>32</span>
                    </button>
                    <button class="card-button">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-pinglun"></use>
                      </svg>
                      <span>32</span>
                    </button>
                  </div>
                </div>
                <div class="card-baffle-plate-bottom">
                  <div class="zuozhe">
                    <img class="card-avatar-32" src="../image/avatar.gif" alt="作者头像" />
                    <div class="card-baffle-plate-author">
                      <span>关山月</span>
                      <span>李白</span>
                    </div>
                  </div>
                  <div class="xiazai">
                    <button class="card-button">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xihuan"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="home-page_main_cards_item">
              <img src="../image/content2.jpeg" alt="" />
              <div class="card-baffle-plate">
                <div class="card-baffle-plate-top">
                  <div class="pinglun-xihuan">
                    <button class="card-button">
                      <svg class="icon " aria-hidden="true">
                        <use xlink:href="#icon-xihuan"></use>
                      </svg>
                      <span>32</span>
                    </button>
                    <button class="card-button">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-pinglun"></use>
                      </svg>
                      <span>32</span>
                    </button>
                  </div>
                </div>
                <div class="card-baffle-plate-bottom">
                  <div class="zuozhe">
                    <img class="card-avatar-32" src="../image/avatar.gif" alt="作者头像" />
                    <div class="card-baffle-plate-author">
                      <span>关山月</span>
                      <span>李白</span>
                    </div>
                  </div>
                  <div class="xiazai">
                    <button class="card-button">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xihuan"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="home-page_main_cards_item">
              <img src="../image/content2.jpeg" alt="" />
              <div class="card-baffle-plate">
                <div class="card-baffle-plate-top">
                  <div class="pinglun-xihuan">
                    <button class="card-button">
                      <svg class="icon " aria-hidden="true">
                        <use xlink:href="#icon-xihuan"></use>
                      </svg>
                      <span>32</span>
                    </button>
                    <button class="card-button">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-pinglun"></use>
                      </svg>
                      <span>32</span>
                    </button>
                  </div>
                </div>
                <div class="card-baffle-plate-bottom">
                  <div class="zuozhe">
                    <img class="card-avatar-32" src="../image/avatar.gif" alt="作者头像" />
                    <div class="card-baffle-plate-author">
                      <span>关山月</span>
                      <span>李白</span>
                    </div>
                  </div>
                  <div class="xiazai">
                    <button class="card-button">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xihuan"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="home-page_main_cards_item">
              <img src="../image/content2.jpeg" alt="" />
              <div class="card-baffle-plate">
                <div class="card-baffle-plate-top">
                  <div class="pinglun-xihuan">
                    <button class="card-button">
                      <svg class="icon " aria-hidden="true">
                        <use xlink:href="#icon-xihuan"></use>
                      </svg>
                      <span>32</span>
                    </button>
                    <button class="card-button">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-pinglun"></use>
                      </svg>
                      <span>32</span>
                    </button>
                  </div>
                </div>
                <div class="card-baffle-plate-bottom">
                  <div class="zuozhe">
                    <img class="card-avatar-32" src="../image/avatar.gif" alt="作者头像" />
                    <div class="card-baffle-plate-author">
                      <span>关山月</span>
                      <span>李白</span>
                    </div>
                  </div>
                  <div class="xiazai">
                    <button class="card-button">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-xihuan"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <a href="http://lostelk.cn" rel="nofollow">© 迷鹿</a>
    <a href="http://beian.miit.gov.cn/" rel="nofollow">黑ICP备2020005791号</a>
  </footer>
</body>

</html>